<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMImageTextScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F9E891B1D8A449500F43C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F9E89341D8A449500F43C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F9E893F1D8A449500F43C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
